includes:
    # see https://github.com/symplify/phpstan-rules
    - vendor/symplify/phpstan-rules/config/static-rules.neon

parameters:
    level: max
    paths:
        - src
        - entrypoint.php

    ignoreErrors:
        -
            message: '#"%s" in sprintf\(\) format must be quoted#'
            path: entrypoint.php
